/* navy = #021F59 ; teal = #049DBF ; gold = #D9B504 ; 
green = #7A9A15 ; orange = #D97904 ; red = #D93D04 */


/* div {
  border: 1px solid yellow;
} */
body {
  background-image: url('images/bg-theinfinite8enigma-East-Oakland-510-Graffiti-Art.jpeg');
  background-size: cover;
}
h2 {
  font-size: 1.3em;
  font-weight: bolder;
  color: #fff;
  padding: .3em 0 .2em 0 ;
}
ul {
  margin: 0;
  padding: 1em;
}
#date {
  font-size: x-large;
  background-color: rgba(2, 31, 89, .75);
  color: #fff;
}
#google_translate_element {
  float: right;
  display: inline;
  vertical-align: middle;
}
#calButton {
  /* float: right; */
  height: 1.2em;
  /* width: auto;  */
} 
#showHideCal {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 5;
  border: 3px solid #021F59;
  border-radius: 1em;
  padding: .5em;
  background-color: #fff;
}
#stats {
  background-color: rgba(122,154,21,.9);
  color: #fff;
}
iframe {
  border: 0;
}
.d-flex div {
  padding-right: 1em
}
#dots {
  background-color:rgba(255, 255, 255, 0.85);
}
#dots .col h3 {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
}
.dot {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
  float: left;
  margin: .08em;
}
.empty-dot {
  border: 1px solid gray;
  background-color: white
}
.filled-dot {
  border: 1px solid white;
  background-color: #021F59;
}
#events {
  background-color:rgba(217,121,4, 0.9);
}
#events ul {
  padding: 0
}
.event-item {
  display: none;
  /* list-style-image: url('images/black-star-icon.svg'); */
  padding: 0 0 0 1.5em;
	list-style: none;
	background-image: url("images/black-star-icon.svg");
	background-repeat: no-repeat;
	background-position: left .25em;
	background-size: .9em;
}
.event-item li::marker {
  color: red;
  font-size: 3em;
}
#events-student-holiday .event-item:nth-child(-n+6) {
  display: list-item;
}
#events-student-non-holiday .event-item:nth-child(-n+4) {
  display: list-item;
}
.event-item-desc {
  font-size: .85em;
  line-height: 1.4em;
  margin: 0 0 .3em 0;
}

div[title]:hover::after {
  content: attr(title);
  position: relative;
  top: -1em;
  left: 0;
  background-color: lightgoldenrodyellow;
  border-radius: 0.5em;
  border: 1px dotted gray;
  padding: 0.1em 0.2em;
  font-size: medium;
}
