/* navy = #021F59 ; teal = #049DBF ; gold = #D9B504 ; 
green = #7A9A15 ; orange = #D97904 ; red = #D93D04 */

/* div {
  border: 1px solid yellow;
} */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
body {
  background-image: url("../images/bg-theinfinite8enigma-East-Oakland-510-Graffiti-Art.jpeg");
  background-size: cover;
}
.main-wrapper {
  height: 100vh;
}
h2 {
  font-size: 1.3em;
  font-weight: bolder;
  color: #fff;
  padding: 0.3em 0 0 0;
}
ul {
  margin: 0;
  padding: 1em;
}
.navbar-toggler {
  border: 2px solid;
}
#date {
  font-size: x-large;
  background-color: rgba(2, 31, 89, 0.75);
  color: #fff;
}
#footer {
  font-size: small;
  color: #fff;
  background-color: rgba(2, 31, 89, 0.75);
  height: 100%;
}
#footer a {
  color: #fff;
  text-decoration: underline;
}
.goog-te-combo {
  padding: 0.3em;
  border-radius: 0.4em;
}
.goog-te-gadget,
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  color: #fff !important;
}

#calButton {
  /* float: right; */
  height: 1.2em;
  /* width: auto;  */
}
#showHideCal {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 5;
  border: 3px solid #021f59;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #fff;
}
#stats {
  background-color: rgba(122, 154, 21, 0.9);
  color: #fff;
}
iframe {
  border: 0;
}
.d-flex div {
  padding-right: 1em;
}
#dots {
  background-color: rgba(255, 255, 255, 0.85);
}
#dots .col h3 {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
}
.dot {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
  float: left;
  margin: 0.08em;
}
.empty-dot {
  border: 1px solid gray;
  background-color: white;
}
.filled-dot {
  border: 1px solid white;
  background-color: #021f59;
}
.lowkey,
.lowkey:hover {
  text-decoration: none;
  color: inherit;
}
#events {
  background-color: rgba(217, 121, 4, 0.9);
  color: #000;
}
#events ul,
#info ul {
  padding: 0 0 1em 0;
}

.item-link {
  color: inherit;
  text-decoration: underline;
}
#info .item-link {
  color: inherit;
  text-decoration: none;
}
#info .item-link:hover {
  color: inherit;
  text-decoration: underline;
}
.item-bubble {
  font-size: small;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.1em 0.3em;
  white-space: nowrap;
  border-radius: 0.3em;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.list-item {
  display: none;
  padding: 0 0 0 1.5em;
  list-style: none;
  background-image: url("../images/black-star-icon.svg");
  background-repeat: no-repeat;
  background-position: left 0.25em;
  background-size: 0.9em;
}
#events-student-holiday .list-item:nth-child(-n + 4) {
  display: list-item;
}
#events-student-activities .list-item:nth-child(-n + 4) {
  display: list-item;
}
#events-student-non-holiday .list-item:nth-child(-n + 5) {
  display: list-item;
}
#events-student-opps .list-item:nth-child(-n + 3) {
  display: list-item;
}
.list-item-desc {
  font-size: 0.85em;
  line-height: 1.4em;
  margin: 0 0 0.3em 0;
}
#info {
  background-color: rgba(223, 203, 20, 0.9);
  color: #000;
}
#info h2 {
  color: #000;
}
#info .list-item {
  display: block;
}

/* tooltips */
div[title]:hover::after {
  content: attr(title);
  position: relative;
  top: -1em;
  left: 0;
  background-color: lightgoldenrodyellow;
  border-radius: 0.5em;
  border: 1px dotted gray;
  padding: 0.1em 0.2em;
  font-size: medium;
  white-space: nowrap;
  z-index: 10;
}

#fullscreen-iframe {
  border: none; /* Optional: Remove default border */
  width: 100vw; /* 90% of the viewport width */
  height: 90vh; /* 90% of the viewport height */
  margin: 0 auto; /* Center the iframe */
}
#calendarList0 {
  background-color: #fff;
  padding: 0.5em;
}
#calendarList0 div {
  line-height: 0.5;
}
#calendarList0 div input {
  margin-right: 0.5em;
}
